:root {
  --vp-c-indigo-1: #0284c7;
  --vp-c-indigo-2: #0ea5e9;
  --vp-c-indigo-3: #38bdf8;
  --vp-c-indigo-soft: rgba(14, 165, 233, 0.14);
}

.dark {
  --vp-c-indigo-1: #38bdf8;
  --vp-c-indigo-2: #0ea5e9;
  --vp-c-indigo-3: #0284c7;
  --vp-c-indigo-soft: rgba(56, 189, 248, 0.16);
}

:root {
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
}
